In [4]:
import pandas as pd
import os

In [5]:
os.getcwd()

'/Users/sohantha/Documents/Sohan Thakur/Personal/Bellevue University/DSC640/ProjectTask'

In [6]:
!ls

Aviation_Data_Table_Raw.xlsx  auto-fatalities.xlsx
Aviation_Data_Table_v1.xlsx   ~$Aviation_Data_Table_v1.xlsx
Untitled.ipynb                ~$auto-fatalities.xlsx
airline-safety.csv

In [7]:
aviation_data_path = "/Users/sohantha/Documents/Sohan Thakur/Personal/Bellevue University/DSC640/ProjectTask/"+"Aviation_Data_Table_v1.xlsx"

In [8]:
df_aviation_data = pd.read_excel(aviation_data_path)

In [10]:
df_aviation_data.head(100)

,US_CARRIER_CATEGORY,Year,All_Accidents,Fatal_accidents,On_board_fatalities,Total_flight_hours,Flight_miles,Accident_rate_per_1M_Flight_Hours,Total_fatal_accident_rate_per_1M_Flight_Hours,Total_accident_rate_per_million_miles_flown,Fatal_accident_rate_per_million_miles_flown
0,Airlines (scheduled service),1997,43,3,2,15061662,6.339432e+09,0.285493,0.0199181,0.006783,0.000473
1,Airlines (scheduled service),1998,41,1,0,15921447,6.343690e+09,0.257514,0.00628084,0.006463,0.000158
2,Airlines (scheduled service),1999,40,2,11,16693365,6.689327e+09,0.24,0.0119808,0.006000,0.000300
3,Airlines (scheduled service),2000,49,2,89,17478519,7.152260e+09,0.28,0.011,0.006900,0.000300
4,Airlines (scheduled service),2001,41,6,525,17157858,6.994939e+09,0.216,0.012,0.005300,0.000300
...,...,...,...,...,...,...,...,...,...,...,...
95,General aviation,2000,1837,345,585,27838000,NaN,6.574,1.214,NaN,NaN
96,General aviation,2001,1728,326,559,25430000,NaN,6.779,1.274,NaN,NaN
97,General aviation,2002,1716,345,575,25545000,NaN,6.69,1.327,NaN,NaN
98,General aviation,2003,1741,352,630,25997000,NaN,6.682,1.342,NaN,NaN
99,General aviation,2004,1619,314,559,24888000,NaN,6.493,1.262,NaN,NaN

In [11]:
df_auto_fatalities = pd.read_excel("auto-fatalities.xlsx")

In [12]:
df_auto_fatalities.head(10)

,Year,Deaths,Crashes,Motor Vehicles,Miles_traveled_in_millions,Fatalities_Per_100_Million_VMT,Population,Fatalities_Per_100000_population
0,1975,44525,39161,55534,1330074,3.35,215973199,20.6
1,1976,45523,39747,56084,1409163,3.23,218035164,20.9
2,1977,47878,42211,60516,1476567,3.24,220239425,21.7
3,1978,50331,44433,64144,1548213,3.25,222584545,22.6
4,1979,51093,45223,64762,1529133,3.34,225055487,22.7
5,1980,51091,45284,63485,1520857,3.36,227224719,22.5
6,1981,49301,44000,62699,1550271,3.18,229465608,21.5
7,1982,43945,39092,56455,1592481,2.76,231664496,19.0
8,1983,42589,37976,55106,1649106,2.58,233791903,18.2
9,1984,44257,39631,57972,1716768,2.58,235824783,18.8